body {
    background-color: whitesmoke;
    margin: 20px;
    font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif
  }

main {
  width: 100%;
  max-width: 720px;
  margin-inline: auto;
  margin-block: 50px;
}

a {
  color: #3E527E;
  text-decoration: none;
}

h2 {
  font-size: larger;
}

h3 {
  font-size: large;
}

h4 {
  font-size: medium;
}