---
import { menuLinks, siteConfig } from "@/site-config";
import styles from './Footer.module.css';

const year = new Date().getFullYear();
---

<footer class={styles.footer}>
    <div>
        &copy; miyamo
        {year}
    </div>
</footer>