---
import { menuLinks, siteConfig } from "@/site-config";

const year = new Date().getFullYear();
---

<footer>
    <div>
        &copy; miyamo
        {year}
    </div>
    <nav
        aria-label="More on this site"
        
    >
        {
            menuLinks.map((link) => (
                <a  href={link.path}>
                    {link.title}
                </a>
            ))
        }
    </nav>
</footer>