.header {
  width: 100%;
  max-width: 720px;
  margin-inline: auto;
}

.div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.a {
  color: black;
  font-size: medium;
  text-decoration: none;
}

.nav {
  display: flex;
  gap: 1rem;
}

.nav a {
  font-size: small;
  text-decoration: none;
}