.header {
  width: 100%;
  max-width: 720px;
  margin-inline: auto;
}

.div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.a {
  font-size: 1rem;
  font-weight: 600;
}

.nav {
  display: flex;
  gap: 1.5rem;
}

.nav a {
  font-size: 0.9375rem;
  text-decoration: none;
  border-bottom: none !important;
}

.nav a:hover {
  opacity: 0.6;
}