---
import PageLayoyt from '@/layouts/PageLayout.astro';
import styles from '../styles/about.module.css';
---

<PageLayoyt siteMeta={{ title: "About"}}>
  <section>
		<h1 class={styles.h1}>miyamo</h1>
		<p class={styles.p}>Software engineer at a game company</p>
	</section>
	<section aria-label="Social link list" class={styles.section}>
		<ul>	
			<li><a href="https://github.com/miyamoy">GitHub</a></li>
			<li><a href="https://twitter.com/miyamo_ys">X(Twitter)</a></li>
			<li><a href="https://bsky.app/profile/miyamo.me">Bluesky</a></li>
			<li><a href="https://www.instagram.com/miyamo.y/">Instagram</a></li>
			<li><a href="https://www.threads.net/@miyamo.y">Threads</a></li>
		</ul>
	</section>
</PageLayoyt>