---
import "../styles/global.css"

import PageLayout from "@/layouts/Base.astro";
---

<PageLayout meta={{ title: "Home" }}>
	<section>
		<h1 class="title mb-6">miyamo.me</h1>
		<p class="mb-4">Software engineer at a game company</p>
	</section>
	<section aria-label="Social link list" class="mt-16">
		<ul>	
			<li><a href="https://github.com/miyamoy">GitHub</a></li>
			<li><a href="https://twitter.com/miyamo_ys">X(Twitter)</a></li>
			<li><a href="https://bsky.app/profile/miyamo.me">Bluesky</a></li>
			<li><a href="https://www.instagram.com/miyamo.y/">Instagram</a></li>
			<li><a href="https://www.threads.net/@miyamo.y">Threads</a></li>
		</ul>
	</section>
</PageLayout>
