---
import "../../styles/page-explainer.css"
const props = Astro.props
---
<html lang="ja">
    <head>
        <meta charset="UTF-8"/>
        <title>Page Explainer</title>
        <meta name="viewport" content="width=device-width"/>
    </head>
    <body>
        <main>
            <article>
                <div>
                    <h1 class="ja">グラフィックソフトウェアで図形を描画するための GUI</h1>
                        <p class="ja">
                            私たちは仕事やサイドプロジェクトでグラフィックを作成する際に様々なグラフィックソフトウェアを使っています。
                            PowerPoint、Illustrator、Figmaなど。
                        </p>
                        <p class="en">
                            We use a variery of graphics software to create graphics for work and side projects.
                            PowerPoint, Illustrator, Figma, etc.
                        </p>
                        <p class="ja">
                            なぜグラフィックスを利用するのでしょうか？
                            文章に加えてグラフィックを使う理由は情報を伝わりやすくするためです。
                            また、作ろうとしているものが物理的な物である場合、ビジュアルで直接表現した方が言葉で表現するより明確だからです。
                        </p>
                        <p class="en">
                            The reason we use graphics in addition to text is to make it easier to convey information.
                            Also, when what we are trying to create is a physical object, a direct visual representation is clearer than a verbal one.
                        </p>
                        <p class="ja">
                            グラフィックを作成する理由を簡単に説明したところで、この記事の本題である図形描画のGUIの話題に移ります。
                            グラフィックを作る際に使うものは「図形」です。
                        </p>
                            <svg class="shapes" width="400" height="130" viewBox="0 0 400 130"xmlns="http://www.w3.org/2000/svg">
                                <g id="shapes">
                                    <line x1="80" y1="65" x2="140" y2="65" stroke="black" stroke-width="2" />
                                    <circle cx="200" cy="65" r="30" fill="none" stroke="black" stroke-width="2" />
                                    <rect x="270" y="35" width="60" height="60" fill="none" stroke="black" stroke-width="2" />
                                </g>
                            </svg>
                        <p class="ja">
                            一般的なグラフィックソフトでは、これらの図形を選択するサイドバーがあることが多いです。
                            その中から描きたい図形を選択し、キャンバスをクリックしてドラッグアンドドロップでサイズを調整するというのが描画のプロセスです。
                            このプロセスを掘り下げていきましょう。
                        </p>
                        <ol class="list-decimal">
                            <li>図形の選択</li>
                            <li>キャンバスのクリック・ドラッグアンドドロップ</li>
                            <li>図形位置の調整</li>
                        </ol>
                        <p class="ja">
                            それぞれのプロセス中で変化を伴う要素を以下の点に絞り説明していきます。
                        </p>
                        <ul class="list-disc">
                            <li>状態</li>
                            <li>画面描画</li>
                        </ul>
                    <h2>図形の選択</h2>
                        <p class="ja">
                            以下のようなツールバーから図形を選択することを想定します。
                        </p>
                        <div class="flex items-center p-6 light h-44 justify-center bg-white dark:bg-[#0D0D0C] toolbar">
                            <div class="toolbar-tools">
                                <button type="button" draggable="false" role="radio" aria-checked="true" class="tool-button">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 256 256" {...props}>
                                        <path fill="currentColor" d="M168 132.69L214.08 115l.33-.13a16 16 0 0 0-1.41-29.8L52.92 32.8A15.95 15.95 0 0 0 32.8 52.92L85.07 213a15.82 15.82 0 0 0 14.41 11h.78a15.84 15.84 0 0 0 14.61-9.59l.13-.33L132.69 168L184 219.31a16 16 0 0 0 22.63 0l12.68-12.68a16 16 0 0 0 0-22.63ZM195.31 208L144 156.69a16 16 0 0 0-26 4.93c0 .11-.09.22-.13.32l-17.65 46L48 48l159.85 52.2l-45.95 17.64l-.32.13a16 16 0 0 0-4.93 26L208 195.31Z" />
                                    </svg>
                                </button>
                                <button type="button" draggable="false" role="radio" aria-checked="false" class="tool-button">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 256 256" {...props}>
                                        <path fill="currentColor" d="M200 64v104a8 8 0 0 1-16 0V83.31L69.66 197.66a8 8 0 0 1-11.32-11.32L172.69 72H88a8 8 0 0 1 0-16h104a8 8 0 0 1 8 8" />
                                    </svg>
                                </button>
                                <button type="button" draggable="false" role="radio" aria-checked="false" class="tool-button">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 256 256" {...props}>
                                        <path fill="currentColor" d="M208 34H48a14 14 0 0 0-14 14v160a14 14 0 0 0 14 14h160a14 14 0 0 0 14-14V48a14 14 0 0 0-14-14m2 174a2 2 0 0 1-2 2H48a2 2 0 0 1-2-2V48a2 2 0 0 1 2-2h160a2 2 0 0 1 2 2Z" />
                                    </svg>
                                </button>
                            </div>
                        </div>
                    <h2>キャンバスのクリック・ドラッグアンドドロップ</h2>
                    <h2>図形位置の調整</h2>
                </div>
            </article>
        </main>
    </body>
</html>