---
// CollectionEntry型をインポート
import type { CollectionEntry } from "astro:content";

import PageLayout from "./PageLayout.astro";
import styles from "./BlogPost.module.css";

// Propsの型を CollectionEntry に設定
interface Props {
    post: CollectionEntry<"post">;
}

const { post } = Astro.props;

// 渡されたコンポーネントのprops（ここではコンテンツコレクションのpost）を変数に入れる
const {
    data: { description, ogImage, publishDate, title, updateDate },
    slug,
} = post;
const socialImage = ogImage ?? `/og-image/${slug}.png`;
const articleDate = updateDate?.toISOString() ?? publishDate.toISOString();
---

<PageLayout siteMeta={{ articleDate, description, ogImage: socialImage, title }}>
    <div>
        <article class={styles.article}>
            <div>
                <h1>{title}</h1>
                <slot />
            </div>
        </article>
    </div>
</PageLayout>